// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-size: 14px;
  font-weight: normal;
  background-color: #b4daf0;
  background-image: url(../images/body_repeat.png);
  background-repeat: repeat-x;
  background-position: center 0;
}

.wb-miniblog {
  background: url(../images/body_bg_page.jpg) no-repeat top center;
}

nav.navbar.navbar-expand-lg {
  margin-bottom: 20px;
}

nav.wb-global-nav {
  border-top: 2px solid #fa7d3c;
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
  background: #fff;
}

.footer {
  display: block;
  clear: both;
  // box-shadow: 0 0 1px 0 rgba(0,0,0,0.15);
  text-align: center;
  padding: 20px 0 45px;
}
